* {
  box-sizing: border-box;
}
.about {
  margin: 0; /* Убираем внешний отступ */
  -webkit-line-clamp: 2; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
  line-height: 1.5rem;
}
.table {
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td {
  border: 1px solid #dddddd;
  padding: 5px;
}
select {
  min-width: 100px;
}

option:checked {
  background-color: transparent;
}
option:hover {
  background-color: transparent;
}
option:checked:hover,
select:focus option:checked:hover {
  background-color: transparent;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: brown;
}
.green {
  background-color: green;
}
.btn__save {
  width: 20px;
  height: 20px;
  background: no-repeat 50% / cover url("./icons/save.svg");
}
.btn__save:hover {
  cursor: pointer;
}
input,
textarea,
select {
  padding: 5px;
  outline: none;
  border: 1px solid rgb(104, 155, 250);
}
.table > input {
  width: 145px;
}
.content {
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  width: 50%;
}
.container div {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
.aboutArea {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  resize: vertical;
}
.pageNumber {
  border: 1px solid rgb(104, 155, 250);
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.active {
  border: 1px solid red;
}
.table {
  cursor: pointer;
}
.modify {
  cursor: not-allowed;
}
.bold {
  color: rgb(104, 155, 250);
}
th img {
  display: block;
  margin: 0 auto;
}
.sortIcon {
  width: 20px;
}
.tableSettings {
  display: flex;
  flex-direction: column;
}
label {
  width: 100px;
}
.hide {
  display: none;
}
.col-4 {
  width: 40px;
  height: 40px;
}
